/* You can add global styles to this file, and also import other style files */
body {

background-color: #0A0E21;
}

.titulo {
    font-family: 'Dosis', sans-serif;
    font-family: 'Otomanopee One', sans-serif;
    color: white;
    text-align: center;
    margin-top: 30px;
    

}

.row {
    margin-top: 25px;
}

.btn-color{
background-color: #730099;
border-color: #730099;
border-radius: 25px;
width: 100%;
padding: 5px;
}

.btn-color:hover{
background-color: #9900cc;
border-color: #9900cc;
}

.contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

